/* == GLOBAL ==*/
* { margin: 0; padding: 0; }
img { max-width: 100%; }

body {
	background-color: #f3f5f7;
	color: #758093;
	font-family: "Open Sans", "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
	margin: 50px auto;
}

body.fully-responsive { width: 50%; }

.center {
	margin: 0 auto;
	vertical-align: center;
	width: 1200px;
}

video.responsive {
	width: 100%    !important;
	height: auto   !important;
}

figure { 
	display: block; 
	padding: 5px;
}
	
/* == LINKS ==*/
a:link, a:visited { color: #245ca9; }
a:hover {
	color: #1c4986;
	text-decoration: none;
}
a:active { color: #245ca9; }

/* == LEGEND AND CITATION ==*/
figcaption {
	display: block;
	font-size: 12px;
	margin: 0 auto;
}

.legend {
	background-color: #fff;	
	border-radius: 7px;
	box-shadow: 0px 2px 1px rgba(0,0,0,.15);
	margin-top: 20px;
	padding: 10px 15px 15px;
}

.legend p {
	margin-top: 5px;
}

h2.figure-title {
	color: #629490;
	font-size: 16px;
	font-weight: normal;
}

.citation {
	border-top: 1px solid #dcdcdc;
	font-size: 80%;
	margin-top: 20px;
	padding: 0 15px 0;
}

h1.manuscript-title {
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0px;
}

.citation p {
	line-height: 1.5em;
	margin: 0;
}

p.doi-info { font-size: 8px; }

/*== CTA BUTTON --*/
.call-to-action {
	margin: 30px auto 0;
	text-align: center;
	width: 100%;
}

button.dipper {
	background-color: #a4bebb;
	border: 1px solid #a7bbb9;
	border-bottom: 2px solid #a7bbb9;
	border-radius: 3px;
	cursor: pointer;
	height: 28px;
}

button.solo-page-action-button {
	color: #fff;
	overflow: hidden;
	padding: 4px 13px 4px;
	text-align: center;
	text-transform: uppercase;
}

button.solo-page-action-button:hover {
	background-color: #629490;
	border: 1px solid #629490;
	border-bottom: 2px solid #629490;
}

/* == FOOTER ==*/
footer { margin: 30px auto; }

footer p {
	font-size: 10px;
	text-align: center;
}