body {
	background-color: #111;
}

.center {
	margin: 100px auto 0;
	vertical-align: center;
	width: 1200px;
}

/* == FOOTER ==*/
footer { margin: 25px auto; }

footer p { 
	color: #fff;
	font-family: "Open Sans", "Helvetica Neue", HelveticaNeue, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
}

footer a:link, footer a:visited { 
	color: #a7bbb9;
	text-decoration: none;
}
footer a:hover {
	color: #629490;
	text-decoration: none;
}
footer a:active { color: #a7bbb9; }