@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

#header-rupress {
	background-color: #fff;
	height: 75px;
	margin: 0 auto;
	width: 100%;
} 

#contain-rupress {
	margin: 0 auto;
	height: 75px;
	vertical-align: middle;
	width: 960px;
}

img#logo {
	position: relative; top: 8px; left: 100px;	
}

ul#nav-rupress {
	position: relative; top: -20px; left: 280px;	
}

ul#nav-rupress li {
	border-right: 1px solid #fff;
	display: inline;
	font-size: 11px;
	font-weight: bold;
	margin: 0px;
	text-transform: uppercase;
}

ul#nav-rupress > li a {
	background-color: #817c76;
	border: 1px solid #817c76;
	color: #fff;
	padding: 5px 7px 4px;
	text-decoration: none;
}

ul#nav-rupress > li a:hover {
	background-color: #fff;
	border: 1px solid #817c76;
	color: #817c76;
	text-decoration: none;
}